.cards {
  margin: 100px auto;
  width: max-content;
  display: flex;
  //gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  background: gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border: 2px solid lightseagreen;
}

.hoveredCard {
  background: lightgrey;
}

.arrowIcon {
  width: 18px;
  height: 18px;
  position: fixed;
  translate: -50% -12px;
}
.reversed {
  transform-origin: center 12px;
  rotate: 180deg;
}
