/* сила селектора состоит из 3 значений которые зависят от того сколько таких штук в селекторе
 1 цифра - сколько id
 2 цифра - сколько классов
 3 цифра - сколько тегог
*/

/*
всегда сила сравнивается слева-направо
как только у кого-то цифра больше -> он считается силней
если селекторы действующие на один и тот же элемент сетают одно и то же свойство -> кто сильнее тот и прав!
если они одинаково сильны -> засетается тот что позже в css файле
порядок классов в html значения не имеет
*/

/* 0 2 0  можно указать несколько раз одинаковый класс чтобы повысить мужскую силу селектора*/
.item.item {

}

/* 0 1 0 */
.item {

}

/* 1 0 0 */
#itemId {

}

/* 0 0 1 */
div {

}

/*
 0 1 0
*/
.red {
    background-color: gray;
    color: red;
}
/* 0 1 0*/
.blue {
    color: blue;
}
